html, body {
    height: 100%;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
#chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-msg {
    width: 500px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
}
  
.input-usr {
    width: 600px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
}

.input-msg, .input-usr, .messages {
    border-radius: 10px;
}
  
button {
    width: 100px;
    height: 50px;
    font-size: 14px;
    background: #069;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
}
  
.messages {
    width: 600px;
    height: 400px;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
    overflow-y: scrol;
}

.message {
  height: fit-content;
  width: 400px;
  border: 1px solid rgb(0, 127, 190);
  background: rgb(0, 127, 190);
  border-radius: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.message-item{
    width: 90%;
    display: flex;
}
  
.user {
    font-family: monospace;
    align-content: flex-start;
    font-size: 1.3rem;
    color: whitesmoke;
}

.msg {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.05rem;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    height: fit-content;
    box-sizing: border-box;
}

.scan {
    display: flex;
}
